header h2 {
    font-family: 'Aref Ruqaa', serif;
    font-size: 40px;
    color: salmon;
}
#logo {
    width: 25%;
}
body {
    background-color: lightgray;
}
table {
    background-color: darkTurquoise;
    padding: 25px;
    border-radius: 25px;
    margin: 22px;
    font-family: 'Oswald';
}
td {
    background-color: lightyellow;
    padding: 10px;
    font-family: helvetica;
}
th {
    background-color: coral;
    padding: 5px;
    color: white;
}
